<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <style>
    .form-group {
      text-align: center;
    }
  </style>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <center>
    <h1>{{ title }}</h1>
    <div id="temps" width="30"></div>
    <script>
      /* JAVASCRIPT CODE GOES HERE */
    var traces =   {
        x: {{ xa | safe }},
        y: {{ ya }},
        type: 'scatter',
        mode: 'markers+lines',
        name: 'vt51'
      };
    var traceg =   {
        x: {{ xb | safe }},
        y: {{ yb }},
        type: 'scatter',
        mode: 'markers+lines',
        name: 'båga'
      };
    var datas = [
      traceg, traces
    ];
    var layouts = {
      title: '°C',
      height: 400,
      yaxis: {range: [{{py}},{{sy}}]}
    };
    var configs = {responsive: true}
    Plotly.newPlot('temps', datas, layouts, configs);
    </script>
  </center>
</body>
</html>